
.app_item {
  margin: 2rem;
}
.app_title {
  display: flex;
  justify-content: center;
  background-color: hsl(192, 98%, 64%);
  color: #fff;
  width: 300px;
  border-radius: 999px;
}
.app_button {
  width: 70px;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 20px;
  background-color: rgb(30, 246, 6);
  color: #fff;
  border-radius: 10px;
  border: solid 1px #333;
  height: 70px;
  border-radius: 9999px;
}
.app_button-active{
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 20px;
  border-radius: 10px;
  border: solid 1px #333;
  background-color: red;
  color: #333;
  border-radius: 9999px;
}
.title {
  color: rgb(23, 22, 22);
  display: flex;
  justify-content: center;
}
.content {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.notice {
  position: absolute;
  background-color: rgb(251, 248, 248);
  width: 50%;
  height: 25%;
  margin-left: 25%;
  border-radius: 10px;
  border: solid 1px #333;

}
.notice_header {
  display: flex;
  justify-content: center;
}
.notice_name {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.active {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.notice_active {
  display: flex;
  justify-content: center;
   background-color: rgb(30, 246, 6);
   width: 80px;
   border-radius: 20px;

}
.notice_n {
  display: none;
}
.loadding {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-right: 20px;
}
.logo {
  width: 10%;
  margin: 20px 0 0 200px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
  .notice {
    top: 200px;
    margin: 20px;
    width: 90%;
    height: 20%;
  }
  .logo {
    width: 30%;
    margin-left: 20px;
  }

}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
  .notice {
    top: 200px;
    margin: 20px;
    width: 90%;
    height: 25%;
  }
}
